<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>First page</title>
    <link rel="stylesheet" href="/css/styleIndex1.css" type="text/css">
</head>
<body>
    <h1>Welcome</h1>
    <p>Hello <%= locals.usrName || "not registered user"%></p>
    <p><a href="/users">Go to users</a></p>
</body>
</html>