<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create a user</title>
    <link rel="stylesheet" href="/css/styleIndex1.css" type="text/css">
</head>
<body>
    <form action="/users" method="post">
        <p>Mim de vosso número</p>
        <input type="text" name="number">
        <br>
        <input type="submit" value="submit">
    </form>
</body>
</html>