<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
    <link rel="stylesheet" href="/css/styleIndex1.css" type="text/css">
</head>
<body>
    <p><a href="/users/create">create a new user</a></p>
</body>
</html>